body{
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-titles);
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    margin: 0px;  
}
:root{
    --link-color: #2196F3;
    --secondary-titles: #212121;
    --descriptive-text: #757575;
    --team-back: #F5F4FA;
    --color-white: #ffffff; 
    --logo: #AFB1B8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.container-header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom:1px solid #ECECEC;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}
.logo {
    color: #2196F3;
    font-family: 'Raleway' ;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.2;
    height: 31px;
    width: 145px;
    display: flex;  
}
.logo2 {
    color: #000000;
    font-family: 'Raleway' ;
    font-weight: bold;
    font-size: 26px;
}
.logo2-footer {
    color: var(--color-white);
    font-weight: bold;
    font-family: 'Raleway' ;
}
.nav-bar {
    display: flex;
    margin-left: 93px;
    height: 16px;
    width: 259px;
}
.main-nav {
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    text-decoration: none;
    color: var(--secondary-titles);
    font-size: 14px;
    font-weight:500;
    line-height: 1.14;
    margin-right: 50px;
    transition: background-color var(--transition), color var(--transition);
}
.main-nav:hover,
.main-nav:focus {
    color: var(--link-color);
}
.main-nav :active {
    color: var(--link-color);
}
.links-bar{
    display: flex;
    height: 16px;
    margin-left: 330px;   
}
.links-bar li{
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    font-size: 14px;
        font-weight: 500;
    margin-right: 40px;
    }
.social-link {
    display:flex;
    align-items: center;
    text-decoration: none;
    color: var(--descriptive-text);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;;
}
.email-social{
    transition: color 1000ms;
}
.email-social:hover svg,
.email-social:hover a{
    color: var(--link-color);
    fill: var(--link-color);
}
.smartphone-social:hover svg,
.smartphone-social:hover a{
    color: var(--link-color);
    fill: var(--link-color);
}
.icon-post{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: #757575;
    cursor: pointer;
}
.icon-smartphone{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 16px;
    width: 10px;
    margin-right: 10px;
    fill: #757575;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.title-section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    position: relative;
 background-image: linear-gradient(rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)), url('../images/title-background.jpg');
    background-size: cover;
    background-position: center center;
}
.title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 6%;
    line-height: 42px;
    height: 120px;
    width: 100%;
    color: #FFF;
font-style: normal;
}
.button {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--link-color);
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.87;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition), color var(--transition);
}
.button:hover,
.button:focus {
    background-color: #188CE8;
    color: var(--color-white);
}
.modal {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal:not(.is-hidden) {
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.modal-box {
    background-color: #fff;
    width: 450px;
    height: 609px;
    flex-shrink: 0;
    position: relative;
}
.close-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.10);;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
}
.close-modal-button:hover {
fill: var(--link-color);
}
.is-hidden {
    visibility: hidden;
}
  .section-info {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 450px;
    gap: 30px;
}
.info-logo-container{
    height: 120px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--team-back);
    margin-bottom: 30px;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
}
.group-title {
    color: var(--secondary-titles);
    font-size: 14px;
    font-weight: bold;
    max-width: 450px;  
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
#current {color: var(--link-color);
}
.group-details {
    color: var(--descriptive-text);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    max-width: 450px;
}
.container-we-do{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 480px;
    margin-bottom: 94px;
}
.photos-we-do{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 294px;
    width: 1170px;
}
.container-photo{
    position: relative;
    text-align: center;
    }
.title-we-do{
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-weight: bold;
    font-size: 14px;
    background: rgba(47, 48, 58, 0.80);
}
.section-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--secondary-titles);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 60px;
}
.section-title-we-do{  display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--secondary-titles);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 94px;}
.container-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2761px;
    width: 100%;
    background-color: #F5F4FA;
}
.team {
    height: 2761px;
    width: 450px;
    gap: 30px;
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team li{
    background-color: var(--color-white);
    height: 622px;
    width: 450px;
    display: inline-block;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-name {
    color: var(--secondary-titles);
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 19px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-job {
    color: var(--descriptive-text);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 19px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.container-social-network{
    height: 44px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px; 
}
.container-social-network div{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
}
.icon-social{
    fill: #AFB1B8;
    padding: 12px;
}
.container-social-network div:hover,
.container-social-network div:focus{
    fill: #FFFFFF;
    background-color: #2196F3;
}
.icon-social:hover,
.icon-social:focus{

    fill: #FFFFFF;
}
.company-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company{
    height: 342px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
}
.company li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 210px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.icon-company{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 106px;
    fill: #AFB1B8;
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition), fill var(--transition);
}
.company li:hover,
.company li:focus{
    fill: #2196F3;
    color: #2196F3;
    border: 1px solid #2196F3;
}
.icon-company:hover,
.icon-company:focus {
    fill: #2196F3;
}
.box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }
  .box:hover .overlay {
    transform: translatey(0);
  }
  .overlay p {
    width: 402px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.54px;
    margin-left: 24px;
    margin-top: 63px;
  }
.container-portfolio{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}
.container-projects li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06); 
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16); 
  }
.container-projects ul { 
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
    align-items: center; 
} 
.container-projects li {
    height: 404px;
    width: 450px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EEEEEE;
    border-top: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.container-projects div{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
.container-button {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 8px;
    height: 91px;
    width: 274px;
    margin-top: 60px;
    margin-bottom: 40px; 
}
.button-portfolio {
    background-color: var(--team-back);
    border: none;
    color: var(--secondary-titles);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    height: 38px;
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
}
.button-portfolio:hover {
    background-color: var(--link-color);
    color: var(--color-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1); 
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); 
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.button-portfolio:focus {
    background-color: var(--link-color);
    color: var(--color-white);
}
.button-portfolio:active {
    background-color: var(--link-color);
    color: var(--color-white);
}
.portofolio-project {
    color: var(--secondary-titles);
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.type-of-project {
    color: var(--descriptive-text);
    font-size: 16px;
    line-height: 30px;
    margin-left: 24px;
    margin-bottom: 20px;
}
.footer-zone {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 604px;
    background-color: #2F303A;
    flex-direction: column;
    align-items: center;  
}
.footer-zone-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 60px;
}
.footer-zone-2-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo{
    color: #2196F3;
    font-family: 'Raleway' ;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.2;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}
.footer-address {
    height: 72px;
    width: 231px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 12px;
}

.location {
    color: var(--color-white);
    font-size: 14px;
    font-style: normal;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 206px;
    margin-top: 60px;
    gap: 20px;
}
.container-title-social-footer{
display: flex;
justify-content: center;
align-items: center;
color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.container-social-footer{
    height: 44px;
    width: 206px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-social-footer div{
    width: 44px; 
    height: 44px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 50%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
}
.icon-social-footer{
    width: 20px; 
    height: 20px; 
    fill: #ffffff;
    justify-content: space-between;  
}
.container-social-footer div:hover,
.container-social-footer div:focus{
    fill: #FFFFFF;
    background-color: #2196F3; 
}
.container-title-social-footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    }
.container-newsletter{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
}
.newsltter-2line{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.email-newsletter{
    width: 340px;
    height: 50px;
    flex-shrink: 0;
    padding: 0px;
    background-color: #2F303A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.48px;
}
.button-email-subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: 0.96px;
    cursor: pointer;
}
.icon-send{
    fill: #FFF;
}
.button-email-subscribe:hover,
.button-email-subscribe:focus {
    background-color: #188CE8;
    color: var(--color-white);
}
.modal-page{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 40px;
}
.modal-title{
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}
.container-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    position: relative;
}
.icon-Modal-person{
    position: absolute;
    top: calc(50% - 6px);
    left: 15px;
    transition:fill var(--transition);
}
.icon-Modal-phone{
    position: absolute;
    top: calc(50% - 6px);
    left: 14px;
    transition:fill var(--transition);
}
.icon-Modal-mail{
    position: absolute;
    top: calc(50% - 6px);
    left: 12px;
    transition:fill var(--transition);
}
input{
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 11px 12px 11px 42px;
    cursor: pointer;
    transition: border-color var(--transition), fill var(--transition);
    outline: none;
}
.container-label:hover input
{
    border: 1px solid rgba(33, 150, 243, 1);
    fill: #2196F3;
}
.container-label:hover svg{
    fill: #2196F3;
}
textarea{
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 12px 16px ;
    resize: none;
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
    outline: none;
}
.textarea::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.container-label:hover textarea{
    border-color: #2196F3;
}
label{
    display: flex;
    flex-direction: column;
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    padding-top: 10px;
    margin-left: -10px;
}
.icon-Vector{
position: absolute;
margin-top: 3px;
margin-left: 4px;
}
.checkbox{
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 15px;
}
#mycheckbox:checked + #svgElement {
    display: none;
  }
input[type=checkbox]
{
accent-color: #2196F3;
mix-blend-mode: multiply;
}
.accept-text{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}
.accept-text-2{
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}
.submit-modal{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button-modal-submit{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: none;
    transition: background-color var(--transition), color var(--transition);
}
.button-modal-submit:hover,
.button-modal-submit:focus {
    background-color: #188CE8;
    color: var(--color-white);
}
.nav-bar{
    display: none;
}
.links-bar{
    display: none;
}
.container-we-do{display: none;}
.menu-js{
        position: absolute;
        top: 22px;
        right: 23px;
        cursor: pointer;
        transition: fill var(--transition);
}
      .menu-js svg {
        width: 40px;
        height: 40px;
      }
.menu-js:hover{
    fill: #2196F3;
}
.js-menu-container {
    display: none;
  } 
  .js-menu-container.is-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
   z-index: 1;
  }
  .js-menu-container .js-close-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    transition: fill var(--transition);
  }
  .js-menu-container .js-close-menu:hover{
    fill: #2196F3;
  }
  .menu-toggle{
    top: 20px;
  }
  .js-menu-container .js-close-menu svg {
    width: 40px;
    height: 40px;
  }
  .nav-bar-modal {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 48px;
  }
 .main-nav-modal{
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    text-decoration: none;
    color: var(--secondary-titles);
    font-size: 40px;
    font-weight:500;
    line-height: 1.14;
    margin-right: 50px;
    margin-bottom: 32px;
    transition: background-color var(--transition), color var(--transition);
 }
 .main-nav-modal:hover,
 .main-nav-modal:focus {
     color: var(--link-color);
 }
 .main-nav-modal :active {
     color: var(--link-color);
 }
.links-bar-modal{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 274px;
}
.links-bar-modal li{
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    }
.email-social-modal:hover svg,
.email-social-modal:hover a{
    color: var(--link-color);
    fill: var(--link-color);
}
.smartphone-social-modal:hover svg,
.smartphone-social-modal:hover a{
    color: var(--link-color);
    fill: var(--link-color);
}
.social-link-email-modal{
color: #757575;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
text-decoration: none;
display: flex;
margin-top: 64px;
}
.social-link-phone-modal{
    color: #2196F3;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
    text-decoration: none;
    display: flex;
}
.social-manu-container{
 display: flex;
    flex-direction: row;   
    margin-left: 80px;
    margin-top: 82px;
}
.social-manu {
    text-decoration: none;
    color: #2196F3;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
letter-spacing: 0.36px;
margin-right: 10px;
}
.manu-bar{
    width: 1px;
height: 22px;
background: rgba(33, 33, 33, 0.20);
margin-right: 10px;
}




/*Tablet*/
@media screen and (min-width: 768px) {
.menu-js{display: none;}

    .container-header{
        justify-content: center;
    }
  .nav-bar{display: flex;}
  
  .links-bar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-left: 114px;
}
.container-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.info-logo-container{
    width: 354px;
    height: 120px;
}
.group-details{
    width: 354px;
}
.group-title{justify-content: flex-start;
    width: 270px;}

.container-team{
    height: 1285px;  
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
   height: 1102px;
   width: 738px;
}
.team li{
    width: 354px;
    height: 536px;
}
.company{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 738px;
    height: 214px;
}
.company li{
    width: 226px;
    height: 92px;
}
.footer-zone{
    height: 464px;
}
.footer-zone-2{
    flex-direction: column;
}
.footer-zone-2-logo{
    display: flex;
    gap: 165px;
    flex-direction: row;
}
.footer-social{
    margin-top: -60px;
}
.footer-logo{
    justify-content: center;
    align-items: center;
}
.container-button{
    width: 516px;
    height: 38px;
    margin-top: 140px;
    margin-bottom: 30px;
}
.container-projects{
    width: 738px;
}
.container-projects ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.container-projects li{
    width: 354px;
    height: 440px;
}
.box {
    position: relative;  
    overflow: hidden;
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }
  .box:hover .overlay {
    transform: translatey(0);
  }
  .overlay p {
    width: 306px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.54px;
    margin-left: 24px;
    margin-top: 63px;
  }
  .container-projects div{
    width: 354px;
  }
}



/*Desktop*/
@media screen and (min-width: 1158px) {
    .container-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links-bar{
        display: flex;
        flex-direction: row;
        margin-left: 330px;}
    .title-section{
        height: 600px;
    }
    .title{
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }
    .section-info{
        display: flex;
        justify-content: center;
    }
    .container-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 30px;
        margin-top: 120px;
        width: 428px;  
    }
    .info-logo-container{
        height: 120px;
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: var(--team-back);
        margin-bottom: 30px;
    }
    .group-details{
        width: 270px;
    }
    .group-title{justify-content: flex-start;}
    .group-title{width: 270px;}
    .container-we-do{display: flex;}
    .section-title{margin-top: 94px;
    margin-bottom: 50px;}
        .team {
        height: 428px;
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 94px;
        align-items: center;
    }
        .container-team{
        height: 708px;
    }
    .team li{
        height: 428px;
        width: 270px;
    }
    .container-social-network{width: 270px;}
    .company{
    height: 92px;
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 94px;}
    .company li{
        width: 170px;
        height: 92px;
    }
    .footer-zone{
        height: 251px;
    }
    .footer-zone-2{
        flex-direction: row;
        width: 1170px;
        gap: 93px;
    }
    .footer-zone-2-logo{
        gap: 70px;
    }
    .footer-logo{
        justify-content: flex-start;  
    }
    .footer-address{
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }
    .container-title-social-footer{
        justify-content: flex-start;
    }
    .container-newsletter{
        margin-top: -60px;
    }
    .newsltter-2line{
        flex-direction: row;
    }
    .container-title-social-footer2{
        justify-content: flex-start;
    }
    .email-newsletter{
        width: 330px;
    }
    .container-button{
        width: 516px;
        height: 38px;
        margin-top: 94px;
        margin-bottom: 50px;
    }
    .container-projects{
        width: 1170px;
    }
    .container-projects ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;   
    }
    .container-projects li{
        width: 370px;
        height: 440px;
    }
    .box {
        position: relative; 
        overflow: hidden;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 150, 243, 0.90);
        transform: translatey(100%);
        transition: transform 250ms ease-in-out;
      }
      .box:hover .overlay {
        transform: translatey(0);
      }
      .overlay p {
        width: 322px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
        letter-spacing: 0.54px;
        margin-left: 24px;
        margin-top: 63px;
      }
      .container-projects div{
        width: 370px;
      }
    
    
}